.header {
  height: 100%;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 10px #f3f1f1;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px 0;
  width: 120px;
}

.dropdown:active {
  transform: translateY(2px);
  transition: transform 0.3s;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown > *:nth-child(2) {
  margin-left: 12px;
}

.dropdown {
  display: flex;
  align-items: center;
}