.toy-icon-button {
  z-index:1000;
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  position: absolute;
}

.toy-icon-wrapper {
  width: 60px;
  height: 60px;
  padding-left: 6px;
}

.toy-img {
  max-height: 100%;
}

.toy-name-subtext {
  font-size: 10px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}